{% load static %}

<li class="book" id="{{book.id}}">
    {% if book.volumeInfo.imageLinks.thumbnail %}
        <img src="{{book.volumeInfo.imageLinks.thumbnail}}">
    {% else %}
        <img src="{% static 'styles/images/card-image.svg'%}" class="card-image">
    {% endif %}
    <div class="book_title">
        <h1 class="book_title_actual" onclick="location.href ='{% url 'bookpage' id=book.id %}'">{{book.volumeInfo.title}}</h1>
        <h2 class="book_title_author">By 
            {% if book.volumeInfo.authors %}
                {% if book.volumeInfo.authors|length > 2 %}
                    {{book.volumeInfo.authors.0}} and {{book.volumeInfo.authors|length|add:"-1"}} others
                {% elif book.volumeInfo.authors|length > 1 %}
                    {{book.volumeInfo.authors.0}} and {{book.volumeInfo.authors|length|add:"-1"}} other
                {% else %}
                    {{book.volumeInfo.authors.0}}
                {% endif %}
            {% else %}
                unknown author
            {% endif %}
        </h2>
    </div>
    <div class="book_content_container">
        
        {% include 'rating-widget.html' with id=book.id %}
        
        <div class="list_dropdown">
            <img class="edit_book_button" src="{% static 'styles/images/pencil-square.svg' %}">
            <div class="dropdown_content">
                <span name="delete_option" onclick="removeBook('{{book.id}}')">Remove</span>
            </div>
        </div>
    </div>
</li>